{% extends '../shared/base.html' %}
{% load crispy_forms_tags %} {% block content %}
{% include '../partials/_navbar.html' %}
<section class="body-section edit-profile-section">
    <div class="edit-profile-container lower-container">
        <div class="edit-grid upper-grid row">
            <div class="col-12 col-md-2">
                <img class="rounded-circle account-img" src="{{user.profile.profile_img.url}}">
            </div>
            <div class="col-12 col-md-10">
                <h2 class="account-name">{{ user.profile.name }}</h2>
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="account-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="edit-grid">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="form-item">
                        <legend class="edit-title">User Info</legend>
                        {{ u_form|crispy }}
                    </div>
                    <div class="form-item">
                        <legend class="edit-title">Profile Info</legend>
                        {{ p_form|crispy }}
                    </div>
                    <div class="form-item">
                        <legend class="edit-title">Socials Info</legend>
                        {{ s_form|crispy }}
                    </div>
                    <div class="form-resume">
                        <legend class="edit-title">Home Info</legend>
                        {{ h_form|crispy }}
                    </div>
                    <div class="form-resume">
                        <legend class="edit-title">Resume Info</legend>
                        {{ r_form|crispy }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}