<div class="form-container">            
    <form id="contact-form" method="POST" action="{% url 'send_email' %}" class="contact-form">
        {% csrf_token %}
        <a name="contact"></a>
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="text" class="input-field" name="name" placeholder="Name">   
            </div>
            <div class="col-12 col-md-6">
                <input type="email" class="input-field" name="email" placeholder="Email">
            </div>
            <hr>
            <div class="col-12">
                <input type="text" class="input-field" name="subject" placeholder="Subject">
            </div>
            <div class="col-12">
                <textarea name="message" class="input-field" rows="7" placeholder="Enter your Message"></textarea>
            </div>
            <div class="col-12">
                <input id="submit-btn" type="submit" value="Send" class="btn">   
            </div>
        </div>         
    </form>
</div>