{% load static %}
<header>  
    <section class="navbar-container">
        <a href="{% url 'home' %}" class="menu-anchors"><h2 class="navbar-name">{{profile.name}}<h2></a>
        <nav class="navbar">
            <a href="#" class="navbar-img__anchor"><img src="{{profile.profile_img.url}}" alt="Profile Image" class="rounded-circle navbar-img"></a>
            <p class="navbar-desc">Welcome to my personal portfolio. Here you will find some of my projects and work in progress.</p>
            <div class="navbar-socials">
                <ol class="navbar-socials__list">
                    <li class="navbar-socials__items">
                        <a href="{{profile.insta}}" class="socials-anchors" target=”_blank”><i class="bi bi-instagram fa-10x"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="{{profile.git}}" class="socials-anchors" target=”_blank”><i class="bi bi-github fa-fw"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="{{profile.linkedin}}" class="socials-anchors" target=”_blank”><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="{% url 'contact' %}" class="socials-anchors" target=”_blank”><i class="bi bi-envelope"></i></a>
                    </li>                
                </ol>
            </div>
            <hr>
            <div class="navbar-menu">
                <ol class="navbar-menu__list">
                    <li class="navbar-menu__items">
                        <a href="{% url 'home' %}" class="menu-anchors">
                            <i class="bi bi-person-circle"></i>
                             Profile</a>
                    </li>        
                    <li class="navbar-menu__items">
                        <a href="{% url 'projects' %}" class="menu-anchors">
                            <i class="bi bi-book"></i>
                             Projects</a>
                    </li>
                    <li class="navbar-menu__items">
                        <a href="{% url 'resume' %}" class="menu-anchors">
                            <i class="bi bi-filetype-pdf"></i>
                             Resume</a>
                    </li>
                    <li class="navbar-menu__items">
                        <a href="{% url 'contact' %}" class="menu-anchors">
                            <i class="bi bi-send-plus"></i>
                             Contact</a>
                    </li>        
                </ol>
            </div>
            <hr>
            <div class="navbar-config">
                {% if request.user.is_authenticated %}
                    <div class="accordion-item navbar-accordion">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#flush-collapseOne" aria-expanded="false" 
                        aria-controls="flush-collapseOne">
                            <img src="{{profile.profile_img.url}}" alt="thumb" class="rounded-circle profile-img">
                            Logged as {{user.username}}
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <a href="/admin" class="config-anchors">Admin</a>
                                <a href="{% url 'create_post' %}" class="config-anchors">Create Post</a>
                                <a href="#"  class="config-anchors">Edit Profile</a>
                                <a href="/user/logout" class="config-anchors">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-noauth">
                        <a href="/user/login" class="config-anchors" id="anchor-login">Login</a>
                        <a href="/user/register" class="config-anchors" id="anchor-login">Register</a>              
                    </div>
                {% endif %}
            </div>
            <div class="color-radios">
                <input type="radio" id="color1" name="theme">
                <label for="color1"></label>
                <input type="radio" id="color2" name="theme">
                <label for="color2"></label>
                <input type="radio" id="color3" name="theme">
                <label for="color3"></label>
                <input type="radio" id="color4" name="theme">
                <label for="color4"></label>
            </div>
        </nav>
    </section>
    <section class="navbar-container-small"></section>
    <section class="navbar-container-mobile"></section>
</header>
