{% load static %}
<div class="navbar-container">
    <nav class="navbar">
        <h2 class="navbar-name">Lucas Caldas</h2>
        <img src='{% static "../../static/media/UserProfile.png" %}' alt="Profile Image" class="navbar-img">
        <p class="navbar-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed, consequatur voluptatem 
            laudantium facilis similique voluptas odit nisi nostrum voluptate ad illo qui aspernatur 
            culpa deserunt quis possimus nesciunt dolorum.</p>
        <hr>
        <div class="navbar-socials">
            <div class="socials-list">
                <li class="socials-items">
                    <a href="#" class="socials-anchors">LinkedIn</a>
                </li>
                <li class="socials-items">
                    <a href="#" class="socials-anchors">Github</a>
                </li>
                <li class="socials-items">
                    <a href="#" class="socials-anchors">Instagram</a>
                </li>
                <li class="socials-items">
                    <a href="#" class="socials-anchors">Email</a>
                </li>                
            </div>
        </div>
        <hr>
        <ol class="navbar-list">
            <li class="navbar-items">
                <a href="#" class="menu-anchors">Profile</a>
            </li>        
            <li class="navbar-items">
                <a href="#" class="menu-anchors">Portfolio</a>
            </li>
            <li class="navbar-items">
                <a href="#" class="menu-anchors">Posts</a>
            </li>
            <li class="navbar-items">
                <a href="#" class="menu-anchors">Resume</a>
            </li>
            <li class="navbar-items">
                <a href="#" class="menu-anchors">Contact</a>
            </li>        
        </ol>
    </nav>
</div>