{% load static %}
<header>  
    <section class="navbar-container">
        <h2 class="navbar-name">Lucas Caldas</h2>
        <nav class="navbar">
            <a href="#" class="navbar-img__anchor"><img src='{% static "media/UserProfile.png" %}' alt="Profile Image" class="navbar-img"></a>
            <p class="navbar-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed, consequatur voluptatem 
                laudantium facilis similique voluptas odit nisi nostrum voluptate ad illo qui aspernatur 
                culpa deserunt quis possimus nesciunt dolorum.</p>
            <hr>
            <div class="navbar-socials">
                <ol class="navbar-socials__list">
                    <li class="navbar-socials__items">
                        <a href="#" class="socials-anchors"><i class="bi bi-instagram fa-10x"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="#" class="socials-anchors"><i class="bi bi-github fa-fw"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="#" class="socials-anchors"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="navbar-socials__items">
                        <a href="#" class="socials-anchors"><i class="bi bi-envelope"></i></a>
                    </li>                
                </ol>
            </div>
            <hr>
            <div class="navbar-menu">
                <ol class="navbar-menu__list">
                    <li class="navbar-menu__items">
                        <a href="#" class="menu-anchors">Profile</a>
                    </li>        
                    <li class="navbar-menu__items">
                        <a href="#" class="menu-anchors">Portfolio</a>
                    </li>
                    <li class="navbar-menu__items">
                        <a href="#" class="menu-anchors">Posts</a>
                    </li>
                    <li class="navbar-menu__items">
                        <a href="#" class="menu-anchors">Resume</a>
                    </li>
                    <li class="navbar-menu__items">
                        <a href="#" class="menu-anchors">Contact</a>
                    </li>        
                </ol>
            </div>
        </nav>
    </section>
</header>