//Colors
$primary: #2d3142ff;
$primary-light: #4f5d75ff;
$background: #bfc0c0ff;
$white: #ffffffff;
$secondary: #ef8354ff;

//Colors
$primary: #748b75ff;
$primary-light: #92ad94ff;
$background: #2f4858ff;
$white: #f5fbefff;
$secondary: #503d42ff;

//Colors
$celadon: #afd5aaff;
$white-smoke: #f0f2efff;
$walnut-brown: #5c5346ff;
$silver: #a69f98ff;
$rose-taupe: #8c6057ff;

//Colors
$imperial-red: #e54b4bff;
$atomic-tangerine: #ffa987ff;
$seashell: #f7ebe8ff;
$jet: #444140ff;
$raisin-black: #1e1e24ff;

// Fonts
$text-color-black: black;
$text-color-white: white;
$text-size: 3rem;
$font-type: 'serif'