// Colors
/*
$clr-primary: #EBF2FA;
$clr-secondary: #3B7EEB;
$clr-tertiary: #064789;
$clr-background: #fafafa;
$heavy-grey: #4f4f4f;
*/

// Opaques
$clr-background-opaque: rgba(250, 250, 250, .7);
$card-background: #323444;

// Fonts
$font-color-black: black;
$font-color-white: #FAF9F6;
$font-type: 'Urbanist', sans-serif;
$font-weight: 400;
$font-size: 16px;


//COLOR SCHEMES
:root {
    //fonts
    font-family: $font-type;
    font-size: $font-size;
    color-scheme: light dark;
    //colors
    --clr-primary: #EDE0D4;
    --clr-secondary: #9C6644;
    --clr-tertiary: #7F5539;
    --clr-background: #EDE0D4;
    --heavy-grey: #4f4f4f;
}

:root:has(#color1:checked) {
    --clr-primary: #EBF2FA;
    --clr-secondary: #3B7EEB;
    --clr-tertiary: #064789;
    --clr-background: #fafafa;
    --heavy-grey: #4f4f4f;
}

:root:has(#color2:checked) {
    --clr-primary: #E9ECEF;
    --clr-secondary: #495057;
    --clr-tertiary: #212529;
    --clr-background: #F8F9FA;
    --heavy-grey: #4f4f4f;
}

:root:has(#color3:checked) {
    --clr-primary: #EDE0D4;
    --clr-secondary: #9C6644;
    --clr-tertiary: #7F5539;
    --clr-background: #EDE0D4;
    --heavy-grey: #4f4f4f;
}

:root:has(#color4:checked) {
    --clr-primary: #F4EFFA;
    --clr-secondary: #532B88;
    --clr-tertiary: #2F184B;
    --clr-background: #F4EFFA;
    --heavy-grey: #4f4f4f;
}