//Colors Classy
$dark-gold: #8E793E;
$light-gold: #AD974F;
$intellectual-grey: #231F20;
$light-grey: #fafafa;

//Colors Trust
$dark-blue: #213159;
$sky-blue: #3d6098;
$sexy-red: #f04b4c;
$fresh-grey: #e7e7e7;

//Colors Artisan
$rural-blue: #2e303e;
$earth-brown: #493932;
$mallard-green: #4f6339;
$homey-taupe: #ece8d3;

// Fonts
$font-color-black: black;
$font-color-white: white;
$font-size: 400;
$font-type: 'Roboto', sans-serif;

:root{
    font-family: 'Roboto', sans-serif;;
}