.projects-filters__form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 90px;
    justify-content: center;
    align-items: center;
    input[type=text]{
        max-width: 400px;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        margin: 0;
        gap: .5rem;
        input[type=text]{
            width: 100%;
            max-width: 100%;
        }
    }
}
.projects-pagination{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-left: 2rem;
    margin: 1rem 0;
}

.post-wrapper{
    width: 100%;
    gap: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


