/* MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  .navbar-container {
    display: none;
  }
  .navbar-container-small{
    display: block;
  }
  .body-section{
    width: 100%;
    margin: 0;
}
}

@media screen and (max-width: 600px) {
  .navbar-container {
    display: none;
  }
  .body-section{
      width: 100%;
      margin: 0;
  }
}