.form-container{
    width: 70%;
    max-width: 750px;
    background: var(--clr-background);
    border-radius: 5px;
    padding: 1rem 2rem;
    justify-self: center;
    box-shadow: 1px 1px 6px 0px;
    .contact-form{
        display: flex;
        flex-direction: column;
        .row{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            align-items: baseline;
        }
        input{
            margin-top: 1rem;
        }
    }
}



