.form-container{
    width: 70%;
    max-width: 750px;
    background: var(--clr-background);
    border-radius: 5px;
    padding: 1rem 2rem;
    justify-self: center;
    box-shadow: 1px 1px 6px 0px;
    .contact-form{
        display: flex;
        flex-direction: column;
        .row{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            .input-field{
                min-width: 200px;
            }
        }
        input{
            margin-top: 1rem;
        }
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
        .contact-form .row{
            gap: 0;
            flex-wrap: wrap; 
        }
      }
}



