/* BUTTONS */
.btn{
font-family: $font-type;
font-weight: 700;
font-size: 1rem;
color: #fff;
background-color: var(--clr-tertiary);
padding: 10px 20px;
border: solid var(--clr-tertiary) 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 8px;
transition : 719ms;
transform: translateY(0);
display: flex; 
justify-content: center;
align-items: center;
white-space: nowrap;
cursor: pointer;
gap: .5rem;
}

.btn:hover{
transition : 719ms;
padding: 10px 30px;
transform : translateY(-5px);
background-color: #fff;
color: var(--clr-tertiary);
border: solid 2px var(--clr-tertiary);
}

/* TEXT INPUT */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  &:hover, &:active{
    box-shadow: 0px 0px 6px 0px var(--clr-tertiary);
  }
}
