{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="contact-section body-section">
    <div class="contact-upper upper-container">
        <h2 class="contact-title main-title">Contact</h2>
        <p class="subtitle">Interested in hiring me for your project or just want to say hi? 
        You can fill in the contact form below or send me an email to {{user.email}}</p>
        <ol class="contact-socials__list">
            <li class="contact-socials__items">
                <a href="#" class="socials-anchors"><i class="bi bi-instagram fa-10x"></i></a>
            </li>
            <li class="contact-socials__items">
                <a href="#" class="socials-anchors"><i class="bi bi-github fa-fw"></i></a>
            </li>
            <li class="contact-socials__items">
                <a href="#" class="socials-anchors"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="contact-socials__items">
                <a href="#" class="socials-anchors"><i class="bi bi-envelope"></i></a>
            </li>                
        </ol>
        <p class="subtitle">Want to get connected? Follow me on the social channels below.</p>
    </div>
    <div class="contact-body lower-container">
        {% include '../partials/_contact-form.html' %}
    </div>
</section>
{% endblock content %}