{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="profile-section body-section">
    <div class="profile-upper">
        <h2 class="profile-name main-title">Lucas Caldas</h2>
        <h3 class="profile-name-subheader">Aspiring Engineer</h3>
        <p class="profile-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae! 
            Amet, illum facere, deserunt esse animi cum quis doloremque odit voluptatum 
            numquam aliquid eveniet. Similique quo at inventore provident dolor.</p>
        <button class="profile-hireme__button">Hire Me</button>
        <button class="profile-view-portfolio__button">View Portfolio</button>
    </div>
    <div class="profile-skills">
        <h3 class="profile-subheader">What do I do</h3>
    </div>
    <hr>
    <div class="profile-testimonials">
        <h3 class="profile-subheader">Testimonials</h3>
    </div>
    <hr>
    <div class="profile-featured__projects">
        <h3 class="profile-subheader">Featured Projects</h3>
    </div>
    <hr>
    <div class="profile-latests__projects">
        <h3 class="profile-subheader">Projects</h3>
    </div>
</section>
{% endblock content %}