{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
{% include '../partials/_navbar.html' %}
<!-- content goes here -->
<section class="profile-section body-section">
    <div class="profile-upper upper-container">
        <div class="grid-container">
            <h2 class="profile-name main-title">{{profile.name}}</h2>
            <h3 class="profile-name-subheader subtitle">{{profile.subtitle}}</h3>
            <p class="profile-desc subtitle">I'm an aspiring production engineer with interests in Data Science and Machine Learning Algorithms. 
                Here I write about my personal projects in development. Want to know how I may help your project? 
                Check out my project portfolio and online resume.</p>
            <div class="buttons-container">
                <a href="{% url 'contact' %}" class="profile-hireme__button btn">Hire Me</a>
                <a href="{% url 'projects' %}" class="profile-view-portfolio__button btn">View Portfolio</a>
            </div>
            <div class="profile-img">
                <img class="home-img" src="{{profile.home_img.url}}" alt="">
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">What do I do</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}
            </div>
            <div class="p">{{profile.home_skills | safe}}</div>
        </div>
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">Featured Projects</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}

            </div>
            <div class="cards-featured-container">
                {% include '../partials/_cards-featured.html' %}
            </div>
            <div class="mcards-featured-container">
                {% include '../partials/_mcards-featured.html' %}
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">Contact</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}
            </div>
            <div class="home-form-container">
                {% include '../partials/_contact-form.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}