{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="profile-section body-section">
    <div class="profile-upper upper-container">
        <div class="grid-container">
            <h2 class="profile-name main-title">Lucas Caldas</h2>
            <h3 class="profile-name-subheader subtitle">Aspiring Engineer</h3>
            <p class="profile-desc subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae! 
                Amet, illum facere, deserunt esse animi cum quis doloremque odit voluptatum 
                numquam aliquid eveniet. Similique quo at inventore provident dolor.</p>
            <div class="buttons-container">
                <a href="{% url 'contact' %}" class="profile-hireme__button btn">Hire Me</a>
                <a href="{% url 'projects' %}" class="profile-view-portfolio__button btn">View Portfolio</a>
            </div>
            <div class="profile-img">
                <img class="home-img" src="{{user.profile.thumbnail.url}}" alt="">
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">What do I do</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}
            </div>
            <p class="text-container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae! 
                Amet, illum facere, deserunt esse animi cum quis doloremque odit voluptatum 
                numquam aliquid eveniet. Similique quo at inventore provident dolor.</p>
        </div>
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">Featured Projects</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}

            </div>
            <div class="cards-featured-container">
                {% include '../partials/_cards-featured.html' %}
            </div>
            <div class="mcards-featured-container">
                {% include '../partials/_mcards-featured.html' %}
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-row">
                <h3 class="main-title">Contact</h3>
                {% if request.user.is_authenticated %}
                <a href="#" class="edit-anchor">Edit</a>
                {% endif %}
            </div>
            <div class="home-form-container">
                {% include '../partials/_contact-form.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}