{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
{% include '../partials/_navbar.html' %}
<!-- content goes here -->
<section class="post-section body-section">
    <div class="upper-container">
        <h2 class="post-title main-title">{{post.headline}}</h2>
        <h4 class="post-subtitle subtitle">{{post.sub_headline}}</h4>
        <h4 class="post-subtitle subtitle">By: {{post.author}}</h4>
        <hr>
    </div>
    <div class="post-container lower-container">
        <p class="post-body">{{post.body|safe}}</p>
        <hr>
        <p class="post-date">{{post.date}} | <a href="{% url 'update_post' post.id %}">Edit</a></p>
    </div>
</section>
{% endblock content %}