{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="post-section body-section">
    <div class="upper-container">
        <h1 class="projects-title main-title">Projects</h1>
        <p class="subtitle">Welcome to my online portfolio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            I'm taking on freelance work at the moment. Want some help building your software?</p>
    </div>
    <div class="lower-container">
        <div class="projects-filters">
            <form action="" class="projects-filters__form" method="GET">
                {{myFilter.form}}
                <input class="projects-filters__button btn" type="submit" value="search">
            </form>
        </div>
        <div class="post-wrapper">
            {% include '../partials/_cards.html' %}
        </div>
        <div class="projects-paginator">
            {% if projects.has_other_pages %}
                <ul class="projects-pagination">
                    {% if projects.has_previus %}
                        <li class="projects-pagination__item">
                            <a class="projects-pagination__anchor" href="?page={{previus_page_number}}">&laquo;</a>
                        </li>
                        <li class="projects-pagination__item">
                            <a class="projects-pagination__anchor" href="?page=1">First</a>
                        </li>
                    {% endif %}

                    {% for i in projects.paginator.page_range %}
                        {% if projects.number == i %}
                            <li class="projects-pagination__item">
                                <a class="projects-pagination__anchor">{{i}}</a>
                            </li>
                        {% else %}
                            <li class="projects-pagination__item">
                                <a href="?page={{i}}" class="projects-pagination__anchor">{{i}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if post.has_next%}
                        <li class="projects-pagination__item">
                            <a href="?page={{projects.paginator.num_pages}}" class="projects-pagination__anchor">Last</a>
                        </li>
                        <li class="projects-pagination__item">
                            <a href="?page={{projects.next_page_number}}" class="projects-pagination__anchor">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}