{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="resume-section body-section">
    <div class="resume-upper upper-container">
        <h2 class="profile-name main-title">Resume</h2>
        <button class="profile-downloadPdf__button btn">Download PDF Version</button>
    </div>
    <div class="resume-container lower-container">
        <div class="resume-titles">
            <h2 class="name-title">Lucas Caldas</h2>
            <h3 class="sub-title">Aspiring Engineer</h3>
        </div>
        <div class="resume-contacts">
            <p>cellphone</p>
            <p>email</p>
            <p>website</p>
            <p>location</p>
        </div>
        <div class="resume-body">
            <h3>Nothing here for now</h3>
        </div>
    </div>
</section>
{% endblock content %}