{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
<!-- content goes here -->
<section class="resume-section body-section">
    <div class="resume-upper upper-container">
        <h2 class="profile-name main-title">Resume</h2>
        <button class="profile-downloadPdf__button btn">Download PDF Version</button>
    </div>
    <div class="resume-container lower-container">
        <div class="resume-card-container">
            <div class="resume-upper-row row">
                <div class="resume-titles">
                    <h2 class="main-title">Lucas Caldas</h2>
                    <h3 class="subtitle">Aspiring Engineer</h3>
                </div>
                <div class="resume-contacts">
                    <p>cellphone: {{user.profile.phone}}</p>
                    <p>email: {{user.email}}</p>
                    <p>website: {{user.insta}}</p>
                    <p>location: {{user.adress}}</p>
                </div>
            </div>
            <hr>
            <div class="resume-mid-row row">
                <img src="{{user.profile.thumbnail.url}}" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, in amet excepturi atque ratione illo exercitationem
                    quod doloremque laboriosam ut rem doloribus harum nulla soluta impedit dolores veniam voluptatibus. Voluptate!</h3>
            </div>
            <hr>
            <div class="resume-lower-row row">
                <h3 class="main-title">SKILLS</h3>
                <p>{{user.profile.skills}}</p>
                <h3 class="main-title">EDUCATION</h3>
                <p>{{user.profile.education}}</p>
                <h3 class="main-title">PROJECTS</h3>
                <h3 class="main-title">LANGUAGES</h3>
                <p>{{user.profile.languages}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}