/* STYLES */
@import './abstract/reset.css';
/*:root:has(#color1:checked){
    $primary: #EBF2FA;
    $secondary: #3B7EEB;
    $tertiary: #064789;
    $light-grey: #fafafa;
    $heavy-grey: #4f4f4f;
}
:root:has(#color2:checked){
    $primary: #E9ECEF;
    $secondary: #495057;
    $tertiary: #212529;
    $light-grey: #F8F9FA;
    $heavy-grey: #4f4f4f;
}
:root:has(#color3:checked){
    $primary: #EDE0D4;
    $secondary: #9C6644;
    $tertiary: #7F5539;
    $light-grey: #EDE0D4;
    $heavy-grey: #4f4f4f;
}
:root:has(#color4:checked){
    $primary: #F4EFFA;
    $secondary: #532B88;
    $tertiary: #2F184B;
    $light-grey: #F4EFFA;
    $heavy-grey: #4f4f4f;
}

:root{
    font-family: $font-type;
    font-size: $font-size;
    color-scheme: light dark;
};*/
@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}

.body {
  width: 100%;
  min-height: 100vh;
}

.body-section {
  margin-left: 260px;
  /* font */
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  color: black;
}

/* UPPER CONTAINER */
.upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  padding: 48px;
  gap: 16px;
}
.upper-container .main-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.upper-container .subtitle {
  font-size: 1rem;
  text-align: center;
  max-width: 60%;
}

/* LOWER CONTAINER */
.lower-container {
  padding: 16px 48px;
}
.lower-container .main-title {
  text-align: center;
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.lower-container .subtitle {
  font-size: 1rem;
  text-align: center;
  margin: 2rem;
  max-width: 65%;
}

/* FOOTER */
.footer-contaier {
  position: relative;
  margin-top: 400px;
}
.footer-contaier .footer-text {
  text-align: center;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .navbar-container {
    display: none;
  }
  .body-section {
    width: auto;
    margin: 0;
  }
}
/* COMPONENTS */
.navbar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  height: 100%;
  overflow: auto;
  background: #3B7EEB;
  float: left;
  box-sizing: border-box;
  margin: 0;
  /* font */
  font-family: "Urbanist", sans-serif;
  color: #FAF9F6;
}
.navbar-container .navbar-name {
  text-align: center;
  padding: 1.5rem 1rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 0.5rem;
}
.navbar .navbar-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.navbar * {
  padding: 0.2rem;
  text-align: center;
}
.navbar hr {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

.navbar-socials__list {
  display: flex;
  flex-direction: row;
}
.navbar-socials__list .navbar-socials__items {
  margin: 0.5rem;
}
.navbar-socials__list .navbar-socials__items .socials-anchors {
  font-size: 1.5rem;
  color: #FAF9F6;
  text-decoration: none;
}

.navbar-menu__items {
  display: flex;
  margin: 8px 0;
  align-items: flex-start;
}

.menu-anchors {
  font-size: 1.5rem;
  color: #FAF9F6;
  text-decoration: none;
}

.navbar-socials__items:hover, .menu-anchors:hover, .dots-anchors:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  color: #064789;
}
.navbar-socials__items:active, .menu-anchors:active, .dots-anchors:active {
  color: #064789;
}

/*.color-radios {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    input[type="radio"] {
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        outline: 3px solid var(--radio-color, currentColor);
        outline-offset: 3px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{transform: scale(1.05);} 
        &:checked {background-color: var(--radio-color);}
        &#color1 {--radio-color: gray;}
        &#color2 {--radio-color: pink;}
        &#color3 {--radio-color: blue;}
        &#color4 {--radio-color: green;}
    }
}*/
.color-radios {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.color-radios input[type=radio] {
  display: none;
}
.color-radios input[type=radio] + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FAF9F6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 10px;
}
.color-radios input[type=radio] + label:hover {
  transform: scale(1.05);
}
.color-radios input[type=radio]#color1 + label {
  background-color: #064789;
}
.color-radios input[type=radio]#color2 + label {
  background-color: #212529;
}
.color-radios input[type=radio]#color3 + label {
  background-color: #7F5539;
}
.color-radios input[type=radio]#color4 + label {
  background-color: #2F184B;
}
.color-radios input[type=radio]:checked + label {
  border: 4px solid #FAF9F6;
}

/*.color-radios {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    label {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $font-color-white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 10px;
        &:hover{
            transform: scale(1.05);
        }
        + input[type=radio]{
            display: none;
        }
        + input{
            background-color: red;
        }

    }
}*/
.post {
  display: grid;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "img title" "img desc" "img tags";
  grid-gap: 0.2rem 2rem;
  background-color: #323444;
  font-family: "Urbanist", sans-serif;
  width: 440px;
  height: 160px;
  transition: 0.3s;
  overflow: auto;
  border-radius: 12px;
  /*hover efects*/
}
.post .thumbnail {
  width: 100%;
  max-height: 100%;
  grid-area: img;
  align-self: center;
  margin-left: 0.5rem;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
}
.post .post-headline {
  place-self: center start;
  font-size: 1.2rem;
  font-weight: 700;
  grid-area: title;
  text-decoration: underline;
  color: #3B7EEB;
}
.post .post-subheadline {
  padding: 0.5rem;
  grid-area: desc;
  color: #EBF2FA;
}
.post .tags {
  grid-area: tags;
}
.post .tags .post-tags {
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 14px;
  color: #fafafa;
  line-height: 150%;
  background-color: #4f4f4f;
}
.post .anchors {
  display: none;
}
.post:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.post:hover .anchors {
  z-index: 9;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  place-self: center center;
}
.post .card-updatePost__button {
  background-color: darkgreen;
  border: solid darkgreen 2px;
}
.post .card-updatePost__button span {
  display: none;
}
.post .card-updatePost__button:hover {
  color: darkgreen;
}
.post .card-updatePost__button:hover span {
  display: block;
}
.post .card-deletePost__button {
  background-color: darkred;
  border: solid darkred 2px;
}
.post .card-deletePost__button span {
  display: none;
}
.post .card-deletePost__button:hover {
  color: darkred;
}
.post .card-deletePost__button:hover span {
  display: block;
}

/* BUTTONS */
.btn {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: #064789;
  padding: 10px 20px;
  border: solid #064789 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 8px;
  transition: 719ms;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  gap: 0.5rem;
}

.btn:hover {
  transition: 719ms;
  padding: 10px 30px;
  transform: translateY(-5px);
  background-color: #fff;
  color: #064789;
  border: solid 2px #064789;
}

/* TEXT INPUT */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=text]:hover, input[type=text]:active, input[type=email]:hover, input[type=email]:active, select:hover, select:active, textarea:hover, textarea:active {
  box-shadow: 0px 0px 6px 0px #064789;
}

.form-container {
  width: 70%;
  max-width: 750px;
  background: #fafafa;
  border-radius: 5px;
  padding: 1rem 2rem;
  justify-self: center;
  box-shadow: 1px 1px 6px 0px;
}
.form-container .contact-form {
  display: flex;
  flex-direction: column;
}
.form-container .contact-form .row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: baseline;
}
.form-container .contact-form input {
  margin-top: 1rem;
}

.cards {
  display: flex;
  flex-wrap: row wrap;
  gap: 1rem;
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #323444;
  border-radius: 10px;
  padding: 30px 35px;
}
.card .image {
  display: flex;
  justify-content: space-between;
}
.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
  margin-top: 23px;
  width: 70%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .image .dots {
  text-align: center;
}
.card .image .dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .image .dots div:nth-child(1) {
  background-color: #3B7EEB;
}
.card .image .dots div:nth-child(2) {
  background-color: #064789;
}
.card .image .dots div:nth-child(3) {
  background-color: #000;
}
.card .infos {
  display: block;
  text-align: end;
  padding-top: 20px;
}
.card .infos span {
  display: block;
}
.card .infos .name {
  font-size: 20px;
  color: #3B7EEB;
  letter-spacing: 6px;
  margin-bottom: 10px;
  padding-left: 20%;
  transition: all 0.6s ease;
}
.card .infos .desc {
  font-size: 12px;
  color: #FAF9F6;
  letter-spacing: 3px;
}
.card .read-btn {
  width: 100%;
  margin: 13px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
  font-weight: 700;
}
.card .read-btn:link {
  text-decoration: none;
}
.card .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.card .socials i {
  font-size: 25px;
  transition: all 0.7s ease;
  color: #fafafa;
}
.card .socials i:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.card .socials .bi-share:hover, .card .socials .bi-share:active {
  color: darkgreen;
}
.card .socials .bi-trash:hover, .card .socials .bi-trash:active {
  color: darkred;
}
.card .socials .bi-file-earmark-plus:hover, .card .socials .bi-file-earmark-plus:active {
  color: #064789;
}

/* PAGES */
.projects-filters__form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 90px;
  justify-content: center;
  align-items: center;
}
.projects-filters__form input[type=text] {
  max-width: 400px;
}

.projects-pagination {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 2rem;
  margin: 1rem 0;
}

.post-wrapper {
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr auto;
  width: clamp(720px, 100%, 1200px);
  grid-template-rows: 3rem 1.5rem Auto;
  grid-gap: 0.5rem 1rem;
  grid-template-areas: "title img" "subheader img" "desc img" "btn img";
}
.grid-container .home-img {
  width: 300px;
  height: auto;
  grid-area: img;
}
.grid-container .profile-name {
  grid-area: title;
  place-self: center start;
  padding: 0;
  font-size: 3rem;
}
.grid-container .profile-name-subheader {
  grid-area: subheader;
  font-size: 1.5rem;
  place-self: center start;
  margin: 0;
}
.grid-container .profile-desc {
  grid-area: desc;
  place-self: center stretch;
  text-align: justify;
  margin: 0;
  max-width: 90%;
}
.grid-container .buttons-container {
  grid-area: btn;
  place-self: start start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile-container .profile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-container .profile-row .edit-anchor {
  justify-self: flex-end;
}
.profile-container .home-form-container {
  display: flex;
  justify-content: center;
}

.cards-featured-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Urbanist", sans-serif;
  transform-style: preserve-3d;
  flex-direction: column;
  /*input{
      display: none;
  }*/
}

.contact-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-form__form {
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  gap: 1rem;
}

#id_tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn {
  width: 120px;
}

.resume-card-container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  box-shadow: 1px 1px 6px 0px;
}
.resume-card-container img {
  width: 160px;
  height: auto;
}
.resume-card-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BOOTSRAP *//*# sourceMappingURL=style.css.map */