.post-form__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #id_tags {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    #id_author, input[type=text]{
        max-width: 600px;
    }
    .btn{
        width: 120px;
    }
}

.post-form-container{
    background: var(--clr-background);
    border-radius: 5px;
    padding: 1rem 2rem;
    justify-self: center;
    box-shadow: 1px 1px 6px 0px;
}