@import '../abstract/variables';

.post-form__form{
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    gap: 1rem;
}

#id_tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn{
    width: 120px;
}